<a href="/home">Main Page</a>

<h2>Type your question</h2>

<form method="post" action="/questions">
    <input type=text placeholder="Enter your title here" name="question[title]"><br>
    <input type=text placeholder="Enter your description here" name="question[description]"><br>
    <input type=submit value="Add Question">
</form>